<!DOCTYPE html>
<html>
<head>
<title>FFPI XMPP Registration</title>
<link rel="stylesheet" href="http://srv02.ffpi/ressources/css/bootstrap.min.css">
<link rel="stylesheet" href="http://srv02.ffpi/ressources/css/style.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default coupon">
          <div class="panel-heading" id="head">
            <div class="panel-title" id="title">
              <span class="hidden-xs">XMPP Account Registration</span>
              <span class="visible-xs">XMPP Account Registration</span>
            </div>
          </div>
          <div class="panel-body">
            <!-- KadseBot Logo -->
            <div class="text-center">
              <img src="http://srv02.ffpi/ressources/img/logo.svg" class="coupon-img img-rounded">
              <p>On hosts: @{hostname}</p>
              <p><b><font color="red">{notice}</font></b></p>
            </div>
            <div class="col-md-12">
              <form action="{path}" method="POST">
                <input name="username" id="username" class="form-control" type="text" placeholder="Username" value="{username}" required> 
                <input name="password" id="password" class="form-control" type="password" placeholder="Password" required>
                <hr>
                {captcha}
                <hr>
                <input class="form-control" type="submit">
              </form>
            </div>
          </div>
          <div class="panel-footer">
            <div class="exp">
              Made with cats in mind
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
